<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_popcorn_black_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_popcorn_black_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OTTProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Start.FirstActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".Start.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity android:name=".MainActivity" android:label="MainActivity"/>
        <activity android:name=".Start.LoginActivity" android:label ="LoginActivity"/>
        <activity android:name=".Start.JoinActivity" android:label ="JoinActivity"/>
        <activity android:name=".Contents.ContentsActivity" android:label ="ContentsActivity"/>
        <activity android:name=".Home.Contents_Information" android:label="Contents_Information"/>
        <activity android:name=".Community_Write" android:label="Contents_Write"/>
        <activity android:name=".Home.OTT_Ranking" android:label="OTT_Ranking"/>
        <activity android:name=".MyPage.My_Contents_List" android:label="My_Contents_List"/>
        <activity android:name=".MyPage.My_Write_List" android:label="My_Write_List"/>
        <activity android:name=".Home.Recommend_All" android:label="Recommend_All"/>
        <activity android:name=".Home.Search_Result" android:label="Search_Result"/>
    </application>

</manifest>